# root env example
MONGO_USER=your-mongodb-user
MONGO_PASSWORD=your-mongodb-password
REDIS_PASSWORD=your-redis-password
RABBITMQ_USER=your-rabbitmq-user
RABBITMQ_PASSWORD=your-rabbitmq-password
FIREBASE_CREDENTIALS_JSON=you-credentials-from-firebase-console
VITE_FIREBASE_API_KEY=your-firebase-api-key
VITE_FIREBASE_AUTH_DOMAIN=your-firebase-auth-domain
VITE_FIREBASE_PROJECT_ID=your-firebase-project-id